<!DOCTYPE html>
<html>
  <head>
    <title>Udemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper green darken-1">
      <a href="#!" class="brand-logo">Udemo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= courses_path %>">Courses</a></li>
        <li><a href="<%= pages_about_path %>">About</a></li>
        <li><%= link_to "Location", pages_location_path%></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="<%= courses_path %>">Courses</a></li>
    <li><a href="<%= pages_about_path %>">About</a></li>
    <li><%= link_to "Location", pages_location_path%></li>
  </ul>

    <div class="row">
      <div class="col m10 offset-m1">
        <!--Material shiz-->
        <%= yield %>
      
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
